.post {
    display: flex;
    margin: 15px 15px 20px 15px;
    &:active{
        background: rgba(231, 231, 231, 0.6);
    }
    //height: 100%;

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        .avatar {
            width: 60px;
            height: 60px;
        }
        .replies{
            margin-top: 20px;
            background: #cccccc;
            font-size: 20px;
            padding: 0 15px;
            color: white;
            border-radius: 20px;
        }
    }

    .right {
        //height: 100%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
            //margin-left: 20px;
            font-size: 28px;
            margin: 0;
        }
        .info{
            display: flex;
            font-size: 20px;
            .node{
                background: #e1e1e1;
                padding: 0 10px;
                color: #999;
                border-radius: 5px;
            }
            .time{
                margin-left: 20px;
            }
        }
    }

}
